:host {
    border: rgb(212, 212, 212) 1px solid;
}
.top-bar {
    // height: 1rem;
    background-color: rgba(238, 87, 205, 0.192);
    text-align: center;
    font-size: 1rem;
    padding: 0.25rem;
}
.text-container {
    height: 100%;
    width: 100%;
    background-color: rgba(228, 227, 227, 0.192);
    overflow: hidden;
    position: relative;
    .text-box {
        background-color: transparent;
        position: relative;
        overflow: hidden;
        resize: none;
        width: 95%;
        height: 90%;
        min-height: 10px;
        font-size: 24px;
        line-height: 48px;
        border: none;
        outline: none;
        padding: 1rem;
    }
    .page-number {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}
