<div class="main-container">
  <div class="main-container_inner">
  <h1>Angular Notebook <a title="open app in newtab" target="_blank" href="/"><img src="assets/icons/newtab.png"/></a></h1> 
    <app-note-book></app-note-book>
  </div>
</div>
<a style="font-size: .5rem;
          color:rgb(194, 194, 194);
          margin-left: 5%;
          display:inline-block;
          padding-bottom:1rem;"
          href="https://www.flaticon.com/free-icons/add"
          title="add icons">Add icons created by Muhammad Yafinuha - Flaticon
        </a>