<div class="btn-container">
    <button class="btn" (click)="addPage()">+</button>
    <button class="btn" (click)="removePage()">-</button>
</div>
<div class="scroll-container">
    <div #pLayout class="pages-layout" [ngStyle]="calculateContainerWidth()">
        <ng-container *ngFor="let page of pages; trackBy:getPageId">
            <app-note-page id="ref{{page.pageId}}" #notePage [ngStyle]="calculateWidth(pLayout)"
                 class="page" (update)="take($event)" [page]="page">
            </app-note-page>
        </ng-container>
    </div>
</div>