:host {
    padding: 1rem;
    height: 100%;
    display: block;
}
.tools {
    padding: 0.118rem;
    border-radius: 4px;
    width: fit-content;
    margin-bottom: 1rem;
    background: rgba(122, 122, 122, 0.267);
    span {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        margin-bottom: 0.25rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: powderblue;
    }
    .tools-layout {
        display: flex;
        align-items: center;
        .btn-container {
            display: flex;
            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                background: transparent;
                &:hover {
                    border: black solid 1px;
                }
                &:active {
                    font-size: 1.2rem;
                    border: black solid 1px;
                    background: rgb(182, 180, 180);
                }
                img {
                    width: 100%;
                }
            }
        }
        .color-selection {
            display: flex;
            padding-left: 1rem;
            .text-color,
            .page-color {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background: #f3f3f3;
                border: rgb(182, 180, 180) solid 1px;
                border-radius: 4px;
                width: 2.5rem;
                height: 2.5rem;
                padding: 0.25rem;
                font-size: 1.5rem;
                &:hover {
                    border-color: black;
                }
                &:active {
                    font-size: 1.2rem;
                    border-color: black;
                }
            }
            .page-color {
                background: yellow;
                margin-left: 0.18rem;
            }
        }
    }
}
.scroll-container {
    margin: auto;
    width: 100%;
    height: 85%;
    overflow-x: auto;
    .pages-layout {
        overflow: hidden;
        height: 100%;
        max-width: 233rem;
        .page {
            max-width: 50rem;
            display: inline-block;
            background-color: #eee;
            height: 95%;
            border-radius: 1rem;
            margin-left: 1rem;
            overflow: hidden;
            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}
